table( id="myprofile_table" cellspacing="0" cellpadding="0" )
	tr
		td( id="myprofile_wrap" )
			a( href='#'+appName onclick='vkShowSettings(); return false' id='myprofile' class='left_row' onmousemove='vkMenuItemHover(event,this)' onmouseout='vkMenuItemOut(event,this)' )
				span( class='left_label inl_bl' )= appName

		if isNewVersion
			td( id='myprofile_edit_wrap' )
				a( href='javascript:app.install.showChangelog();' id='myprofile_edit' class='left_row' style='font-weight: bold' onmousemove='vkMenuHide()' )
					span( class='left_label inl_bl' style='color:red' )= appVersion
