ul
	li
		| Название расширения изменено с&nbsp;
		strong happy
		| &nbsp;на&nbsp;
		strong vk-x
		| .
	li
		| Добавлена иконка расширения.
	li
		| Расширение теперь автоматически обновляет страницу
		| после установки, не показывая всплывающих сообщений.
	li
		| Расширение теперь предлагает этот список изменений
		| после установки.
	li
		| Убраны ссылки для пожертвований авторам VkOpt из раздела "Помощь"
		| в меню, раздел переименован в "Резервная копия настроек".
	li
		| Множество исправлений работы и безопасности расширения.
