ul
	li
		| Extension name changed from&nbsp;
		strong happy
		| &nbsp;to&nbsp;
		strong vk-x
		| .
	li
		| Added extension icon.
	li
		| Extension now automatically reloads page after installation
		| without any popups.
	li
		| Extension now offers this list of changes after installation.
	li
		| Removed donation links for VkOpt authors from "Help" settings tab,
		| renamed that tab to "Backup".
	li
		| Many performance and security fixes.
br.clear
.wk_view_footer.clear_fix
	a.wk_view_footer_a.fl_r(href="{homepage}" target="_blank")
		| {name} homepage
