div(style="text-align: center")
	div(style="\
			display: inline-block;\
			width: 80%;\
			height: 18px;\
			margin: 10px 0;\
			border: 1px solid #CCC;"
		class="vkx-progress-bar")
		div(
			style="\
				background: #597da3 url(/images/progress_grad.gif) repeat;\
				width: " + progress + "%;\
				height: 18px;\
				margin: -1px;\
				border: 1px solid #45688E;"
			class="vkx-progress-bar-done")
