*.txt
*.zip
*.xpi
*.mxaddon
*.oex
*.zip
*.safariexz


chromium/manifest.json
chromium/dist.js

firefox/install.rdf
firefox/chrome.manifest
firefox/scripts/dist.js

maxthon/def.json
maxthon/inject.js

opera/includes/inject.js
opera/config.xml
